<!DOCTYPE html>
<html>
  <head>
    <title>|title|</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
    	.span1{
    		margin-left: |border|px;
    	}
    	
    	.span1:first-child{
    		margin-left: 0 !important;
    	}
    	
    	.span12{
    		width: 960px;
    		margin-left: 0 !important;
    	}
    	
    	.page-header{
    		margin-bottom: 0 !important;
    	}
    	
    	img{
    		float: right;
    		max-width: 100%;
    		margin: 0 0 10px 10px;
    		display: block;
    	}
    	
    	h2,span,p{
    		text-align: justify
    	}
    </style>
  </head>
  <body>
    <div class="container">
    	<div class="row">
    		<div class="span12">
    			<div class="page-header">
    				<h1>|title|</h1>
    			</div>
    			<h4 class="text-right">
    				<small>|date|</small>
    			</h4>
    		</div>
    	</div>